/*
* ┌─────────────────────────────────────────────────────────────┐
* │┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┐│
* ││Esc│!1 │@2 │#3 │$4 │%5 │^6 │&7 │*8 │(9 │)0 │_- │+= │|\ │`~ ││
* │├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴───┤│
* ││ Tab │ Q │ W │ E │ R │ T │ Y │ U │ I │ O │ P │{[ │}] │ BS  ││
* │├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┤│
* ││ Ctrl │ A │ S │ D │ F │ G │ H │ J │ K │ L │: ;│" '│ Enter  ││
* │├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────┬───┤│
* ││ Shift  │ Z │ X │ C │ V │ B │ N │ M │< ,│> .│? /│Shift │Fn ││
* │└─────┬──┴┬──┴──┬┴───┴───┴───┴───┴───┴──┬┴───┴┬──┴┬─────┴───┘│
* │      │Fn │ Alt │         Space         │ Alt │Win│          │
* │      └───┴─────┴───────────────────────┴─────┴───┘          │
* └─────────────────────────────────────────────────────────────┘
*/

/*change to mobile when width less than 768px*/
@media screen and (max-width: 767px) {
    .wrapper {
        background-image: url("../images/m-bg.jpg");
    }

    /*make the nav smaller*/
    nav {
        width: 100px;
        grid-template-columns: 1fr;
    }

    /*hidden home menu when mobile*/
    nav .home-menu {
        opacity: 0;
        display: none;
    }

    /*show the entire nav when hover*/
    nav:hover {
        height: 40vh;
        width: 90vw;
        border-radius: 10px;
    }

    nav:hover .second-menu, nav:hover .home-menu {
        opacity: 1;
        display: block;
    }

    /*footer need higher to put info*/
    footer {
        height: 50vh;
        text-align: center;
        grid-template-columns: 1fr;
    }

    footer .contact-us {
        text-align: center;
    }

    /*move the copyright to bottom*/
    footer .copyright {
        grid-row: 3/4;
    }
}
