<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Yanyan Cafe - order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="../about.css">
    <link rel="stylesheet" href="../mobile.css">

    <style>

    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img id="logo" src="../media/logo.png" alt="yanyan cafe">
      </header>
      <nav class="transition shadow">
        <div class="transition">
          <div class="menu-shape" id="menu-top"></div>
        </div>
        <a href="../index.html">Home</a>
        <a class="second-menu" href="cats.html">Cats</a>
        <a class="second-menu" href="menu.html">Menu</a>
        <a class="second-menu" href="about.html">About</a>
        <a class="second-menu" href="club.html">Club</a>
      </nav>

      <main>
        <div class="page intro">
          <h1>Always Ahead</h1>
        </div>
        <div class="page us">
          <div id="about-us"><h2>About Us</h2></div>
          <div class="us-intro">
            <b>Welcome to Yanyan Cafe</b>
            <hr>
            <p>
              At Yanyan Cafe, we're all about cats, coffee, and creating a cozy space for you to unwind. Our cafe is
              home to a delightful crew of feline friends, each with its own unique charm.
            </p>
            <div class="button"><a href="#find-us">Find Us</a></div>
          </div>
          <div class="us-img"></div>
        </div>
        <div class="page" id="find-us">
          <div class="find-us">
            <div class="loc-card">
              <div class="loc-card-content loc-dt">
              </div>

              <div>
                <div>Downtown</div>
                <div>664 Portage Ave, Winnipeg, MB R3G 0M4</div>
              </div>
            </div>
            <div id="find-us-title">
              <h2>Find Us</h2>
            </div>
            <div class="loc-card ">
              <div class="loc-card-content loc-polo ">
              </div>
              <div>
                <div>Polo Park</div>
                <div>1440 Ellice Ave, Winnipeg, MB R3G 0G4</div>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th class="dining">Dining</th>
                  <th class="cat-lounge">Cat Lounge</th>
                  <th class="members">Fan Club</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="day">Mon-Fri</td>
                  <td class="dining">9:00 AM - 8:00 PM</td>
                  <td class="cat-lounge">11:00 AM - 7:00 PM</td>
                  <td class="members">8:00 PM - 10:00 PM</td>
                </tr>

                <tr>
                  <td class="day">Sat</td>
                  <td class="dining">11:00 AM - 8:00 PM</td>
                  <td class="cat-lounge">11:00 AM - 7:00 PM</td>
                  <td class="members">8:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                  <td class="day">Sun</td>
                  <td class="dining">11:00 AM - 6:00 PM</td>
                  <td class="cat-lounge">12:00 AM - 5:00 PM</td>
                  <td class="members">6:00 PM - 8:00 PM</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <footer>
        <div class="follow-us">
          <div>Follow us for daily doses of feline charm! 🐾</div>
          <div class="social-media">
            <a href="#"><img src="../media/social-media/facebook.svg" alt="facebook"></a>
            <a href="#"> <img src="../media/social-media/instagram.svg" alt="instagram"></a>
            <a href="#"> <img src="../media/social-media/youtube.svg" alt="youtube"></a>
          </div>
        </div>
        <div class="copyright">Copyright &copy;2023 - Night Fae Studio</div>
        <div class="contact-us">
          <div>paracidex@gmail.com</div>
        </div>
      </footer>
    </div>
  </body>
</html>
