@media screen and (max-width: 767px) {

  nav {
    width: 50px;
  }

  footer {
    text-align: center;
    grid-template-columns: 1fr;

    .contact-us{
      text-align: center;
    }

    .copyright {
      grid-row: 3/4;
    }
  }
}
