<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Yanyan Cafe - Cats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="../mobile.css">
    <link rel="stylesheet" href="../cats.css">
    <style>
      .wrapper {
        background-image: url("../media/bg.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>


  <body>
    <div class="wrapper">
      <header>
        <img id="logo" src="../media/logo.png" alt="yanyan cafe">
      </header>
      <nav class="transition shadow">
        <div class="transition">
          <div class="menu-shape" id="menu-top"></div>
        </div>
        <a href="../index.html">Home</a>
        <a class="second-menu" href="cats.html">Cats</a>
        <a class="second-menu" href="menu.html">Menu</a>
        <a class="second-menu" href="about.html">About</a>
        <a class="second-menu" href="club.html">Club</a>
      </nav>

      <main>
        <div id="intro">
          <h1>Future<br>Superstar
          </h1>
        </div>
        <div id="xiuxiu-page" class="page">
          <div class="page-wrapper border shadow">
            <h2 class="page-txt">Xiuxiu</h2>
            <div class="page-txt">
              <p>Age: 3 years old</p>
              <p>Breed: Chinese Cat</p>
              <p>Fur: Calico with patches of orange, white, and black</p>
              <p>Hobbies: Sleeping with human, Eating bread</p>
            </div>
            <p class="page-txt"> Xiuxiu is our playful calico who loves to chase anything that moves. He's also a big
              fan of cuddles and
              will happily curl up in your lap for a nap.</p>
            <img class="small-img border shadow" id="xiuxiu2" src="../media/cats/xiuxiu2.jpg" alt="xiuxiu">
            <img class="small-img border shadow" id="xiuxiu3" src="../media/cats/xiuxiu3.jpg" alt="xiuxiu">
            <img class="small-img border shadow" id="xiuxiu4" src="../media/cats/xiuxiu4.jpg" alt="xiuxiu">
            <div class="main-img border shadow" id="xiuxiu1"></div>
          </div>
        </div>

        <div id="huabi-page" class="page">
          <div class="page-wrapper border shadow">
            <h2 class="page-txt">Huabi</h2>
            <div class="page-txt">
              <p>Age: 3 years old</p>
              <p>Breed: American Shorthair</p>
              <p>Fur: Black and white tuxedo</p>
              <p>Hobbies: Do Evil</p>
            </div>
            <p class="page-txt"> He'll observe the goings-on of the cafe with regal indifference, occasionally gracing
              you with a flick of her tail or a soft purr.</p>
            <img class="small-img border shadow" id="huabi2" src="../media/cats/huabi2.jpg" alt="huabi">
            <img class="small-img border shadow" id="huabi3" src="../media/cats/huabi3.jpg" alt="huabi">
            <img class="small-img border shadow" id="huabi4" src="../media/cats/huabi4.jpg" alt="huabi">
            <div class="main-img border shadow" id="huabi1"></div>
          </div>
        </div>

        <div id="ml-page" class="page">
          <div class="page-wrapper border shadow">
            <h2 class="page-txt">Zhang Meili</h2>
            <div class="page-txt">
              <p>Age: 5 years old</p>
              <p>Breed: Ragdoll</p>
              <p>Fur: Brown tabby with white markings on the chest, belly, and paws.</p>
              <p>Hobbies: Lounging in sunbeams, chasing toys</p>
            </div>
            <p class="page-txt"> He'll greet you with a slow blink and a flick of his tail, then settle into a cozy spot
              to watch the world go by.
              Don't be surprised if he occasionally demands a head scratch or a gentle ear rub.</p>
            <img class="small-img border shadow" id="ml2" src="../media/cats/ml2.jpg" alt="ml">
            <img class="small-img border shadow" id="ml3" src="../media/cats/ml3.jpg" alt="ml">
            <img class="small-img border shadow" id="ml4" src="../media/cats/ml4.jpg" alt="ml">
            <div class="main-img border shadow" id="ml1"></div>
          </div>
        </div>

        <div id="pipi-page" class="page">
          <div class="page-wrapper border shadow">
            <h2 class="page-txt">Pipi</h2>
            <div class="page-txt">
              <p>Age: 2 years old</p>
              <p>Breed: Manx</p>
              <p>Fur: Black and white, with a mostly black body and white markings on the face, chest, belly, and
                legs</p>
              <p>Hobbies: Playing with toys, climbing furniture</p>
            </div>
            <p class="page-txt"> Pipi is our playful Manx with a mischievous streak. He'll zip around the cafe with his
              little black bobtail held high, always up for a game or a cuddle.
              Be warned, though: his laser pointer skills are legendary!</p>
            <img class="small-img border shadow" id="pipi2" src="../media/cats/pipi2.jpg" alt="pipi">
            <img class="small-img border shadow" id="pipi3" src="../media/cats/pipi3.jpg" alt="pipi">
            <img class="small-img border shadow" id="pipi4" src="../media/cats/pipi4.jpg" alt="pipi">
            <div class="main-img border shadow" id="pipi1"></div>
          </div>
        </div>


      </main>


      <footer>
        <div class="follow-us">
          <div>Follow us for daily doses of feline charm! 🐾</div>
          <div class="social-media">
            <a href="#"><img src="../media/social-media/facebook.svg" alt="facebook"></a>
            <a href="#"> <img src="../media/social-media/instagram.svg" alt="instagram"></a>
            <a href="#"> <img src="../media/social-media/youtube.svg" alt="youtube"></a>
          </div>
        </div>
        <div class="copyright">Copyright &copy;2023 - Night Fae Studio</div>
        <div class="contact-us">
          <div>paracidex@gmail.com</div>
          <div>664 Portage Ave, Winnipeg, MB, Canada</div>
        </div>
      </footer>
    </div>

  </body>
</html>
